body {
	background-color: black;
	color: white;
	font-family: 'Hahmlet', serif;
}

.one {
	letter-spacing: 4px;
	text-align: center;
	font-size: 70px;
	margin: 10px;
	font-weight: 700;
}

	/*text-decoration: underline;*/
p {
	font-size: 40px;
	font-weight: 300;
}

img {
	height: 600px;
	width: 100%;
	margin-top: 10px;
}

* {
	margin: 0;
	padding: 0;
}

ul {
	margin-left: 20px;
	font-size: 25px;
	list-style-type: none;
	font-weight: 200;
}

.BoxModelCWBHK {
	padding-left: 20px;
}

.